<img [src]=" image" width="100%" height="100%">
<hr>
<div class="container-fluid A">
  <B>CÔNG TY TNHH DU LỊCH VÀ THƯƠNG MẠI HOÀNG PHÚC</B>
  <BR>
  <B>Địa chỉ: 476A Trưng Nữ Vương, P. Hòa Thuận Đông, Q. Hải Châu, TP Đà Nẵng</B>
  <BR>
  <BR>
  <P>Lời đầu tiên, Công Ty TNHH Du Lịch và Thương Mại Hoàng Phúc xin gửi đến quý khách hàng lời chúc sức khỏe, thành công và
    thịnh vượng! Chúc quý khách có những chuyến đi vui vẻ và an toàn!</P>
  <BR>
  <P>Qua nhiều năm kinh nghiệm hoạt động trong lĩnh vực vận chuyển, Công Ty TNHH Du Lịch Và Thương Mại Hoàng Phúc đã không ngừng
    phát triển lớn mạnh cả về tầm vóc lẫn quy mô hoạt động. Bằng sự uy tín và đảm bảo về chất lượng dịch vụ, các phương tiện
    vận chuyển phong phú về chủng loại, sẽ đảm bảo được mọi nhu cầu của Quý khách hàng trong và ngoài nước.</P>
  <BR>
  <P>Dịch vụ cho thuê xe của chúng tôi chuyên cung cấp ô tô các loại từ 4 chỗ đến 7 chỗ với mục đích vận chuyển khách cùng nhiều
    loại hình dịch vụ khác nhau như: thuê xe du lịch, thuê xe đưa đón, thuê xe cưới hỏi, thuê xe tự lái, thuê xe hợp đồng
    tháng, thuê xe cao cấp. Đội xe chúng tôi với nhiều thương hiệu nổi tiếng thế giới: Mercedes, Toyota, Honda, Mitsubishi,
    Kia, Hyundai, Ford, Chevrolet, Mazda cùng đội ngũ nhân viên luôn chuyên tâm phục vụ mọi yêu cầu của quý khách hàng với
    quyết tâm và trách nhiệm cao nhất. Trải qua kinh nghiệm nhiều năm cùng sự đa dạng hóa trong dịch vụ của mình, chúng tôi
    tin tưởng sẽ làm thỏa mãn mọi nhu cầu của quý khách.</P>

</div>