<!--Footer-->

<footer class="page-footer mdb-color text-left text-md-left pt-4 mt-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h5 class="font-weight-bold text-center ">THÔNG TIN CÔNG TY</h5>
                <hr>
                <h6 class="font-weight-bold text-center">CÔNG TY TNHH DU LỊCH VÀ THƯƠNG MẠI HOÀNG PHÚC.</h6>
                <hr>
                <p class="font-weight text-sm">Qua nhiều năm kinh nghiệm hoạt động trong lĩnh vực vận chuyển, Công Ty TNHH Du Lịch Và Thương Mại Hoàng Phúc
                    đã không ngừng phát triển lớn mạnh cả về tầm vóc lẫn quy mô hoạt động. Bằng sự uy tín và đảm bảo về chất
                    lượng dịch vụ, các phương tiện vận chuyển phong phú về chủng loại, sẽ đảm bảo được mọi nhu cầu của Quý
                    khách hàng trong và ngoài nước.</p>
                <hr>
                <p>
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <span class=" text-sm">
                        HOTLINE: 0901.841.841 - 0898.841.841 - 0976.167.867
                    </span>
                </p>
                <hr>
                <p>
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <span class=" text-sm">
                        450 Nguyễn Văn Linh, Phường Trương Quang Trọng, Thành Phố Quảng Ngãi
                    </span>
                </p>
                <hr>
                <p>
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <span class="font-weight text-sm">
                        476A Trưng Nữ Vương, Quận Hải Châu, Thành Phố Đà Nẵng
                    </span>
                </p>

            </div>

            <div class="col">
                <h4 class="font-weight-bold text-center">CHYÊN CÁC LĨNH VỰC</h4>
                <p class="font-weight text-sm text-left">
                    Cho thuê xe tự lái,Cho thuê xe hợp đồng tham quan, Du lịch, Cưới hỏi
                </p>
                <hr>
                <p class="font-weight text-sm text-left">
                    Cho thuê xe: 4 - 7 - 16 - 45 chỗ
                </p>
                <hr>
                <p class="font-weight text-left text-sm">
                    Cho thuê xe tự lái,Cho thuê xe đưa đón, Cho thuê xe dự án
                </p>
                <hr>
                <p class="font-weight text-left text-sm">
                    Cho thuê xe vận tải,Cho thuê xe đám cưới
                </p>
                <hr>
                <p class="font-weight text-left text-sm">
                    Cho thuê xe hợp đồng tháng
                </p>
                <hr>
                <p class="font-weight text-left text-sm">
                    Cho thuê xe đưa đón khách đi khám bệnh. Tuyến Đà Nẵng - Quảng Nam.
                </p>
                <hr>
                <p class="font-weight text-left text-sm">
                    Đại lý vé máy bay
                </p>
                <!-- end row  -->
                <div class="custum-footer">

                    <!--/.Social buttons-->

                    <!--Copyright-->

                    <!--/.Copyright-->
                </div>

            </div>
        </div>



        <!--Social buttons-->

    </div>


    <!--Social buttons-->
    <div class="text-center mb-3">

        <a href="https://www.facebook.com/kimminhphuc.do" class="btn-floating btn-small btn-fb waves-light" mdbWavesEffect>
            <i class="fa fa-facebook"> </i>
        </a>
        <a class="btn-floating btn-small btn-tw waves-light" mdbWavesEffect>
            <i class="fa fa-twitter"> </i>
        </a>
        <a class="btn-floating btn-small btn-gplus waves-light" mdbWavesEffect>
            <i class="fa fa-google-plus"> </i>
        </a>
        <a class="btn-floating btn-small btn-li waves-light" mdbWavesEffect>
            <i class="fa fa-linkedin"> </i>
        </a>
        <a class="btn-floating btn-small btn-git waves-light" mdbWavesEffect>
            <i class="fa fa-github"> </i>
        </a>
        <a class="btn-floating btn-small btn-pin waves-light" mdbWavesEffect>
            <i class="fa fa-pinterest"> </i>
        </a>
        <a class="btn-floating btn-small btn-ins waves-light" mdbWavesEffect>
            <i class="fa fa-instagram"> </i>
        </a>

    </div>
    <!--/.Social buttons-->


    <!--Copyright-->
    <div class="footer-copyright text-center py-3">
        <div class="container-fluid">
            © 2018 Hoàng Phúc Car:
            <a href="https://www.thuexeotoquangngai.vn"> ThueXeOtoQuangNgai.vn </a>

        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->