<div class="container-fluid custom-contact">
  <!-- <hr> -->
  <center>
    <h5 class="font-weight-bold red-text">CÔNG TY TNHH DU LỊCH VÀ THƯƠNG MẠI HOÀNG PHÚC.</h5>
    <div class="row">
      <div class="col">
        <p>
          <i class="fa fa-home" aria-hidden="true"></i>
          <span class="font-weight-normal">
            476A Trưng Nữ Vương, Quận Hải Châu, Thành Phố Đà Nẵng
          </span>
        </p>
      </div>
      <div class="col">
        <p>
          <i class="fa fa-phone" aria-hidden="true"></i>
          <span class="font-weight-normal">
            HOTLINE: 0901.841.841 - 0898.841.841 - 0976.167.867

          </span>
        </p>
      </div>
      <div class="col">
        <p>
          <i class="fa fa-home" aria-hidden="true"></i>
          <span class="font-weight-normal">
            450 Nguyễn Văn Linh, Phường Trương Quang Trọng, Thành Phố Quảng Ngãi
          </span>
        </p>
      </div>
    </div>
  </center>
  <hr>
</div>
<br>
<img [src]="image" width="100%" height="100%" alt="carsieuxe">