<div class="container-fluid custom-contact">
  <!-- <hr> -->
  <center>
    <h5 class="font-weight-bold red-text">CÔNG TY TNHH DU LỊCH VÀ THƯƠNG MẠI HOÀNG PHÚC.</h5>
    <div class="row">
      <div class="col">
        <p>
          <i class="fa fa-home" aria-hidden="true"></i>
          <span class="font-weight-normal">
            476A Trưng Nữ Vương, Quận Hải Châu, Thành Phố Đà Nẵng
          </span>
        </p>
      </div>
      <div class="col">
        <p>
          <b class="font-weight-bold red-text">CHUYÊN:</b>
          <br>
          <i class="fa fa-automobile" aria-hidden="true"></i>

          <span class="font-weight-normal text-left">
            Cho thuê xe du lịch, xe đưa đón, xe vận tải
          </span>
          <br>
          <i class="fa fa-plane" aria-hidden="true"></i>

          <span class="font-weight-normal text-left">
            Đại lý vé máy bay
          </span>
          <br>
          <i class="fa fa-user" aria-hidden="true"></i> 
          <span class="font-weight-normal text-left">
              Hỗ trợ mua vé tàu Sa Kỳ - Lý Sơn cho khách
          </span>
          <br>
          <i class="fa fa-phone" aria-hidden="true"></i>
          <span class="font-weight-normal red-text">
            HOTLINE: 0901.841.841 - 0898.841.841 - 0976.167.867
          </span>
        </p>
      </div>
      <div class="col">
        <p>
          <i class="fa fa-home" aria-hidden="true"></i>
          <span class="font-weight-normal">
            450 Nguyễn Văn Linh, Phường Trương Quang Trọng, Thành Phố Quảng Ngãi
          </span>
        </p>
      </div>
    </div>
  </center>
  <hr>
</div>