.customer-header{
    background-color: #9933CC;
    height: 84px;  
}

.customer-header-left { 
    float: left !important;
} 

.customer-header-image { 
    float: left !important;
} 

.customer-header-date {
    margin-left: 237px;
    color:white;
    margin-top:60px;  
}