<div class="container-fluid">
  <center>
    <h5 class="font-weight-bold">XE NHIỀU NGƯỜI THÍCH</h5>
  </center>
  <hr>

  <div class="row custom-car">
    <!-- begin row -->
    <div class="col">
      <div class="card">
        <!--Card image-->
        <img class="img-fluid custom-image" src="../../../../assets/img/_INNOVA 2011.jpg" alt="Card image cap">

        <!--Card content-->
        <div class="card-body">
          <center>
            <span class="font-weight-bold teal-text">TOYOTA INNOVA</span>
            <br>
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <span class="text-sm-center">Năm SX:2011</span>

          </center>
          <hr>
          <center>
            <button (click)="loginModal.show()" type="button" class="btn btn-outline-info" mdbWavesEffect>Đặt xe</button>
          </center>
        </div>
      </div>
    </div>
    <!-- end row -->

    <!-- begin row -->
    <div class="col">
      <div class="card">

        <!--Card image-->
        <img class="img-fluid custom-image" src="../../../../assets/img/CAMRY 2012.jpg" alt="Card image cap">

        <!--Card content-->
        <div class="card-body">
          <center>
            <span class="font-weight-bold teal-text">TOYOTA CAMRY</span>
            <br>
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <span class="text-sm-center">Năm SX:2012</span>
          </center>
          <hr>
          <center>
            <button (click)="loginModal.show()" type="button" class="btn btn-outline-info" mdbWavesEffect>Đặt xe</button>
          </center>
        </div>
      </div>
    </div>
    <!-- end row -->
    <!-- begin row -->
    <div class="col">
      <div class="card">

        <!--Card image-->
        <img class="img-fluid custom-image" src="../../../../assets/img/CAMRY 2017.jpg" alt="Card image cap">

        <!--Card content-->
        <div class="card-body">
          <center>
            <span class="font-weight-bold teal-text">TOYOTA CAMRY</span>
            <br>
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <span class="text-sm-center">Năm SX:2017</span>
          </center>
          <hr>
          <center>
            <button (click)="loginModal.show()" type="button" class="btn btn-outline-info" mdbWavesEffect>Đặt xe</button>
          </center>
        </div>
      </div>
    </div>
    <!-- end row -->
    <!-- begin row -->
    <div class="col">
      <div class="card">

        <!--Card image-->
        <img class="img-fluid custom-image" src="../../../../assets/img/FOR LIMOUSINE 10 CHỔ.jpg" alt="Card image cap">

        <!--Card content-->
        <div class="card-body">
          <center>
            <span class="font-weight-bold teal-text">FOR LIMOUSINE</span>
            <br>
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <span class="text-sm-center">Năm SX:2015</span>
          </center>
          <hr>
          <center>
            <button (click)="loginModal.show()" type="button" class="btn btn-outline-info" mdbWavesEffect>Đặt xe</button>
          </center>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>




  <div class="row custom-car">
    <!-- begin row -->
    <div class="col">
      <div class="card">
        <!--Card image-->
        <img class="img-fluid custom-image" src="../../../../assets/img/FORTRANSIT 16 CHỔ.jpg" alt="Card image cap">

        <!--Card content-->
        <div class="card-body">
          <center>
            <span class="font-weight-bold teal-text">FOR TRANSIT</span>
            <br>
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <span class="text-sm-center">Năm SX:2011</span>
          </center>
          <hr>
          <center>
            <button (click)="loginModal.show()" type="button" class="btn btn-outline-info" mdbWavesEffect>Đặt xe</button>
          </center>
        </div>
      </div>
    </div>
    <!-- end row -->

    <!-- begin row -->
    <div class="col">
      <div class="card">

        <!--Card image-->
        <img class="img-fluid custom-image" src="../../../../assets/img/FORTUNER 2011.jpg" alt="Card image cap">

        <!--Card content-->
        <div class="card-body">
          <center>
            <span class="font-weight-bold teal-text">FORTUNER</span>
            <br>
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <span class="text-sm-center">Năm SX:2011</span>
          </center>
          <hr>
          <center>
            <button (click)="loginModal.show()" type="button" class="btn btn-outline-info" mdbWavesEffect>Đặt xe</button>
          </center>
        </div>
      </div>
    </div>
    <!-- end row -->
    <!-- begin row -->
    <div class="col">
      <div class="card">

        <!--Card image-->
        <img class="img-fluid custom-image" src="../../../../assets/img/FORTUNER 2017(1).jpg" alt="Card image cap">

        <!--Card content-->
        <div class="card-body">
          <center>
            <span class="font-weight-bold teal-text">FORTUNER</span>
            <br>
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <span class="text-sm-center">Năm SX:2017</span>
          </center>
          <hr>
          <center>
            <button (click)="loginModal.show()" type="button" class="btn btn-outline-info" mdbWavesEffect>Đặt xe</button>
          </center>
        </div>
      </div>
    </div>
    <!-- end row -->
    <!-- begin row -->
    <div class="col">
      <div class="card">

        <!--Card image-->
        <img class="img-fluid custom-image" src="../../../../assets/img/MASSDA 6 2017.jpg" alt="Card image cap">

        <!--Card content-->
        <div class="card-body">
          <center>
            <span class="font-weight-bold teal-text"> MASSDA 6</span>
            <br>
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <span class="text-sm-center">Năm SX:2017</span>
          </center>
          <hr>
          <center>
            <button (click)="loginModal.show()" type="button" class="btn btn-outline-info" mdbWavesEffect>Đặt xe</button>
          </center>
        </div>
      </div>
    </div>

    <!-- end row -->

    <!-- line 3 -->
  </div>
  <div class="row custom-car">
    <!-- begin row -->
    <div class="col">
      <div class="card">
        <!--Card image-->
        <img class="img-fluid custom-image" src="../../../../assets/img/INNOVA 2014.jpg" alt="Card image cap">

        <!--Card content-->
        <div class="card-body">
          <center>
            <span class="font-weight-bold teal-text">TOYOTA INNOVA</span>
            <br>
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <span class="text-sm-center">Năm SX:2014</span>
          </center>
          <hr>
          <center>
            <button (click)="loginModal.show()" type="button" class="btn btn-outline-info" mdbWavesEffect>Đặt xe</button>
          </center>
        </div>
      </div>
    </div>
    <!-- end row -->

    <!-- begin row -->
    <div class="col">
      <div class="card">

        <!--Card image-->
        <img class="img-fluid custom-image" src="../../../../assets/img/MASSDA 3 2017.jpg" alt="Card image cap">

        <!--Card content-->
        <div class="card-body">
          <center>
            <span class="font-weight-bold teal-text">MASSDA 3</span>
            <br>
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <span class="text-sm-center">Năm SX:2017</span>
          </center>
          <hr>
          <center>
            <button (click)="loginModal.show()" type="button" class="btn btn-outline-info" mdbWavesEffect>Đặt xe</button>
          </center>
        </div>
      </div>
    </div>
    <!-- end row -->
    <!-- begin row -->
    <div class="col">
      <div class="card">

        <!--Card image-->
        <img class="img-fluid custom-image" src="../../../../assets/img/UNIVESR 2017.jpg" alt="Card image cap">

        <!--Card content-->
        <div class="card-body">
          <center>
            <span class="font-weight-bold teal-text">UNIVESR</span>
            <br>
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <span class="text-sm-center">Năm SX:2017</span>
          </center>
          <hr>
          <center>
            <button (click)="loginModal.show()" type="button" class="btn btn-outline-info" mdbWavesEffect>Đặt xe</button>
          </center>
        </div>
      </div>
    </div>
    <!-- end row -->
    <!-- begin row -->
    <div class="col">
      <div class="card">

        <!--Card image-->
        <img class="img-fluid custom-image" src="../../../../assets/img/VIOS 5 CHỔ.jpg" alt="Card image cap">

        <!--Card content-->
        <div class="card-body">
          <center>
            <span class="font-weight-bold teal-text"> TOYOTA VIOS</span>
            <br>
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <span class="text-sm-center">Năm SX:2017</span>
          </center>
          <hr>
          <center>
            <button (click)="loginModal.show()" type="button" class="btn btn-outline-info" mdbWavesEffect>Đặt xe</button>
          </center>
        </div>
      </div>
    </div>

    <!-- end row -->
  </div>



</div>
 


<!--Modal: Login Form-->
<div mdbModal #loginModal="mdb-modal" class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">
    <!--Content-->
    <div class="modal-content">

      <!--Header-->
      <div class="modal-header light-blue darken-3 white-text">
        <h4 class="title">
          <i class="fa fa-user"></i> Đăng Ký Xe</h4>
        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="loginModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body">
        <div class="md-form form-sm">
          <i class="fa fa-user prefix"></i>
          <input mdbInputDirective type="text" id="form30" class="form-control" placeholder="Nhập Tên của bạn:" [(ngModel)]="username">
        </div>

        <div class="md-form form-sm">
          <i class="fa fa-phone prefix"></i>
          <input mdbInputDirective type="number" id="form31" class="form-control" placeholder="Nhập số điện thoại:" [(ngModel)]="phone">
        </div>

        <div class="md-form form-sm">
          <i class="fa fa-rocket prefix"></i>
          <input mdbInputDirective type="text" id="form31" class="form-control" placeholder="Nơi đi -> Nơi đến:" [(ngModel)]="address">
        </div>

        <div class="md-form form-sm">
          <i class="fa fa-bus prefix"></i>
          <input mdbInputDirective type="number" id="form31" class="form-control" placeholder="Nhập số chỗ ngồi:" [(ngModel)]="numberChair">
        </div>

        <div class="text-center mt-2">
          <button (click)="logIn()" class="btn btn-info btn-sm waves-light" mdbWavesEffect>Đăng Ký
            <i class="fa fa-sign-in ml-1"></i>
          </button>
        </div>

      </div>
      <!--Footer-->
      <div class="modal-footer">
        <div class="options text-center text-md-left mt-1">
          <p class="text-sm">Chúng tôi sẽ liên hệ bạn trong thời gian sớm nhất.</p>

        </div>
        <button type="button" class="btn btn-outline-info btn-sm ml-auto" data-dismiss="modal" (click)="loginModal.hide()" mdbWavesEffect>Thoát</button>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>

<!--Modal: Login Form-->